@import 'https://fonts.googleapis.com/css2?family=Courgette&family=Philosopher&display=swap';
/*
    Global color variables
*/
/*
    Global font variables
*/
/*
    Global size variables
*/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Philosopher", sans-serif;
}

.services {
  position: relative;
  overflow: hidden;
}
.services * {
  color: #0c140e;
}
.services__title {
  text-align: center;
  text-decoration: underline;
  margin: 0 0 26px;
}
.services a {
  text-decoration: none;
}
.services a .services__menu {
  margin: 0 0 26px;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.services a .services__menu li {
  position: relative;
  text-align: center;
  padding: 8px 0;
}
.services a .services__menu li::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #a8dbba;
  transition: 0.2s ease-out;
}
.services a .services__menu li:hover::before {
  width: 100%;
}
.services a .services__menu li a {
  cursor: pointer;
  text-decoration: none;
}
.services__content {
  padding: 26px 20px 0;
}
.services__content-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.services__content-header-title {
  position: relative;
  margin: 50px 0;
  left: -500px;
  flex-grow: 1;
  animation: float-left-to-right 0.2s ease-in forwards;
}
.services__content-header-title::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: -33px;
  left: -100px;
  width: clamp(300px, 40%, 40%);
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
.services__content-header__select {
  height: 30px;
  width: clamp(300px, 50%, 50%);
  margin: 50px auto 0;
  background-color: #a8dbba;
  border: none;
  border-radius: 0.3em;
  text-align: center;
}
.services__content-header__select-option {
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: none;
}
.services__content-body__list {
  padding: 0;
  font-size: 1em;
}
.services__content-body__list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 3px solid #a8dbba;
  overflow: visible;
  padding: 15px 0;
}
.services__content-body__list-item-title {
  margin: 1.3em 0;
}
.services__content-body__list-item-price {
  font-size: 1.2em;
  margin: 1.3em 0;
}
.services__content-body__list-item-discription {
  position: relative;
  width: 100%;
}
.services__content-body__list-item-discription::before {
  content: "* ";
  position: relative;
  color: #0c140e;
}
.services__content-body__list-item__extras {
  position: relative;
  width: 100%;
}
.services__content-body__list-item__extras-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px dotted #a8dbba;
}
.services__content-body__list-item__extras-item::before {
  content: url("../svg/listStyle/list_style.svg");
  position: absolute;
  left: 0;
}
.services__content-body__list-item__extras-item p {
  margin: 0;
}
.services__content-body__list-item__extras-item p:first-child {
  width: clamp(150px, 50%, 50%);
}
.services__content-body__list-item__extras-item p:nth-child(2) {
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@keyframes float-left-to-right {
  to {
    left: 0;
  }
}/*# sourceMappingURL=services.css.map */